

@font-face {
    font-family: "MyriadPro-Regular";
    src: url(fonts/Myriad_Pro_Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "AdobeInvisFont";
    src: url(./fonts/ADOIF_.PFB.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}




.head {


    background-color: #2d7053;
    height: 235px;
    width: 750px;
}

.circle {
    display: inline-block;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 47px;
    margin-left: 38px;

}

.titles {
    color: #ffffff;
    font-size: 30px;
    margin-left: 237px;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
   
}

.lines {
    position: absolute;
    top: 84px;
    margin-left: 580px;
    


}

.menu  {
    display: block;
    background-color: #ffffff;
    height: 12px;
    width: 84px;
    margin-bottom: 16px;
    border-radius: 6px; 
    
   }

.foto {
    background-image: url(foto.png);
    width: 750px;
    height: 466px;
    position: relative;


}

.fon {
  position: absolute;
    background-color: black;
    opacity: 0.3;
    /*прозрачность*/
    width: 741px;
    height: 445px;
    margin-left: 9px;
}

.press {
position: absolute;
width: 341px;
    height: 71px;
    background-color: #cb9223;
    margin-top: 345px;
    margin-left: 205px;
    margin-right: 204px;
    margin-bottom: 47px;

}

.press-text {
    display: inline-block;
    margin-left: 44px;
    margin-top: 28px;
}
.press-text a{
    text-decoration: none;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    color: rgba(255, 255, 255, 255);
    font-size: 24px;}
    
.main {
    display: inline-block;
}

.photo {
    display: inline-block;
    background-image: url(img.png);
    width: 247px;
    height: 247px;
    margin-top: 73px;
    margin-left: 44px;
    border-radius: 50%;
}


.name {
   
    margin-top: 61px;
    margin-left: 366px;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    white-space: nowrap;
    font-size: 36px;

}

.prof {

    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 24px;
    margin-left: 364px;
    margin-top: 29px;
    white-space: nowrap;
}

.info {
    
    font-size: 24px;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    margin-top: 140px;
    white-space: nowrap;
    text-align: left;

}

.reason {
   text-align: left;
   white-space: nowrap;
    margin-top: 46px;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 36px;}


.list ul {
    list-style-type: "- ";
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 24px;
    white-space: nowrap;
    text-align: left;
    margin-top: 43px;
    
}

.button {
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    margin-top: 44px;
    margin-left: 174px;
    

}
.press-text2 {
    display: inline-block;
    margin-left: 44px;
    margin-top: 28px;
}



.press-text2 a {
    text-decoration: none;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    
}
    

.footer {
    background-color: #888888;
    width: 750px;
    height: 153px;
    margin-top: 50px;

}


.circulo {
    display: inline-block;
    background-color: #ffffff;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-left: 45px;
    margin-top: 29px;
}

.direction {
    display: inline-block;
    margin-left: 184px;
    margin-top: 73px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
}

.contactos {
    display: inline-block;





}


.tel {
    text-decoration: none;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 18px;
    color: #ffffff;
    margin-left: 44px;
}

.mail {
    text-decoration: none;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 18px;
    color: #ffffff;
    margin-left: 38px;

}